<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.example.myapplication.stage10.CloseoutSourceProvider"
            android:authorities="com.sotaware.construct.test.closeout"
            android:exported="true"
            android:grantUriPermissions="true" />
        <provider
            android:name="com.example.myapplication.stage9b.Stage9BFixtureControlProvider"
            android:authorities="com.example.myapplication.test.stage9b.fixturecontrol"
            android:exported="true" />
        <provider
            android:name="com.example.myapplication.stage9b.Stage9BQualificationDocumentsProvider"
            android:authorities="com.example.myapplication.test.stage9b.documents"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.example.myapplication.stage9.QualificationFixtureProvider"
            android:authorities="com.sotaware.construct.test.stage8.fixture"
            android:exported="true"
            android:grantUriPermissions="true" />
        <activity
            android:name="com.example.myapplication.stage8.Stage8TestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myapplication.stage9a.CameraTestActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":stage9a_camera">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
