<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.example.myapplication.stage9.QualificationConsentActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.stage9.QualificationViewModelActivity"
            android:exported="false" />
    </application>
</manifest>
